td > img{
    width: 10px;
    height: 10px;
}
html{
    background-color: whitesmoke;
}
* {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
 h1 {
    font-weight: 300px;
    font-size: 50px;
    color: darkblue; }
 header{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
 }
 header >div> img{
    margin-left: 200px;
    margin-right: 200px;
    padding: 0;
    max-width: 120px;
 }
 header > div{
    display:flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center
 }
#pelicula{
    position:absolute;
    left: 260px;
    background-color: rgb(109, 109, 255);
    padding:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 210px;
    border: 3.2px solid #000;
    border-radius: 5%;
}
#BatImg{
    border-radius: 5%;
    margin-bottom: 30px;
}
pre{
    width: 20px;
    margin-bottom: -30px;
    padding-left: 20px;
}
details{
    padding-bottom: 20px;
}
#entradas{
    position:absolute;
    left: 600px;
    background-color: rgb(109, 109, 255);
    padding:20px;
    padding-top: 0;
    
    padding-bottom: 5px;
    width: 600px;
    height: 425px;
    border: 3.2px solid #000;
    border-radius: 2%;
}
#imgentradas{
    width: 50px;
    margin-left: 30px;
    margin-right: 20px;
}
h2{
    font-size:30px;
}
#titleEntradas{
    background-color: darkblue;
    margin-left: -22px;
    border: 3.2px solid #000;
    border-radius: 2%;
    width: 106%;
    display:flex;
    flex-direction: row;
    align-items: center
}
#precios > div{
    display:flex;
}
#precios > div> p{
    margin-left: 10px;
    padding-right: 80px;
    width: 100px;
    font-size: 20px;
} 
.persona{
    width: 130px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    padding-right: 130px !important;
    
}
input, td{
    color: #000;
}
.example{
    width: 30px;
}
.colores, .colores > div{
    display:flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center
}
.colores > div{
    padding-right: 80px;
}
.colores > div > img{
    padding-right: 10px;
}

#volver{
    background-color: gray;
    position:absolute;
    right:500px;
    width: 120px;
    height: 30px;
    bottom: 80px;
    border-radius: 10%;
}
#continuar{
    background-color: purple;
    position:absolute;
    right:300px;
    width: 120px;
    height: 30px;
    bottom: 80px;
    border-radius: 10%;
}